{% extends '/layouts/base.html.twig' %}

{% block title pin.title %}

{% block body %}
    <div class="col-md-6">
        <article class="bg-white rounded shadow">
            <img class="rounded-top d-block w-auto mx-auto" src="{{ (pin.imageName ? vich_uploader_asset(pin) : asset('images/placeholder.jpg')) | imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}">
            <h2><a class="text-decoration-none">{{ pin.title }}</a></h2>
            <p class="text-muted">Submitted {{ pin.createdAt | ago }}</p>
            <p class="text-break">{{ pin.description }}</p>

            {% if app.user == pin.user %}
                <a class="btn btn-light" href="{{  path('app_pins_edit', {id: pin.id}) }}">Edit</a> |
                <a class="btn btn-light" href="{{  path('app_pins_delete', {id: pin.id}) }}">Delete</a>
            {% endif %}
        </article>
    </div>

{% endblock %}